/* Style CSS d'Hacklol - Version 1.3 REVISION 2 du 20/11/2016 (révision du 25/11/2016) - by Eliastik - Version commentée
/!\ A compresser à chaque modification avec ceci : http://csscompressor.com/ */
/*
 * Sommaire - titres exacts, à rechercher avec la fonction intégrée à l'éditeur de texte
 *
 * == importation de la police de caractère "Open Sans" + de la police d'icones
 * == réinitialisation des éléments HTML & Body - ne pas toucher
 * == styles de texte
 * == formulaires
 *  -- boites de texte
 *  -- menus déroulants
 *  -- cases à cocher
 *  -- boutons
 *     -- boutons désactivés (grisés)
 * == style pour les touches des raccourcis clavier
 * == styles des fenêtre de chargement & no-script
 * == effets d'explosion + gel + deface
 * == iframe + toolbar
 * == menus
 * == bulles menu pour le paint
 * == classe de l'effet de flou sur l'iframe et la toolbar lors de l'affichage d'une fenêtre
 * == icones
 * == popups
 *  -- animations des popups
 * == boutons d'affichage des toolbars si elles sont fermées
 * == fonction de dessin
 *  -- inutile actuellement, vu la nouvelle interface, mais est laissé ici
 * == color picker
 * == canvas pour la fonction matrix
 * == BSOD
 * == effet vague material design
 * == partie pour les mobiles < à 812 px de résolution horizontale
 *  -- menu mobile
 * == styles pour les non-mobiles > à 812 px de résolution horizontale
*/
/* importation de la police de caractère "Open Sans" + de la police d'icones */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@font-face {
    font-family: 'IcoMoon-Free';
    src: url('http://hacklol.eliastiksofts.com/images/icon_pack/IcoMoon-Free.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* réinitialisation des éléments HTML & Body - ne pas toucher */
html, body {
    width: 100%;
    height: 100%; /* antibug pour la fonction Matrix - en tenir compte pour tous les éléments ! */
    overflow: hidden; /* empêche les barres de défilements qui servent à rien - pas pour le site en arrière-plan */
    margin:0; /* empêche les bugs avec l'interface */
    /* activation de l'accélération matérielle */
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
}
.scrollBarAuto {
    overflow-y: auto !important;
}
/* styles de texte */
.red {
    color: red;
}
.indice {
    font-size: 8pt;
}
#indication_error {
    color: red;
    font-size: 10pt;
}
/* formulaires
boites de texte */
input[type=text], textarea, input[type=textarea] {
    color: #34495e;
    font-family: "Open Sans", Arial, sans-serif;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    background-color: #eeeeee;
    transition: border 0.3s;
}
input[type=text]:focus, textarea:focus, input[type=textarea]:focus, input[type=text].focus, textarea.focus, input[type=textarea].focus {
    border-bottom: solid 2px #969696;
    outline: none;
}
/* labels */
label {
    display: inline-block;
    font-weight: bold;
    margin-right: 8px;
    vertical-align: middle;
}
label.disabled {
    color: grey;
}
/* https://kyusuf.com/post/completely-css-custom-checkbox-radio-buttons-and-select-boxes */
.control {
    position: relative;
    display: block;
    margin-bottom: 15px;
    padding-left: 30px;
    cursor: pointer;
    font-weight: normal;
    margin-width: 0;
    margin-top: 8px;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    background: #e6e6e6;
}
/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #ccc;
}
/* Checked state */
.control input:checked ~ .control__indicator {
    background: #2aa1c0;
}
/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #0e647d;
}
/* Disabled state */
.control input:disabled ~ .control__indicator {
    pointer-events: none;
    opacity: .6;
    background: #e6e6e6;
}
/* Check mark */
.control__indicator:after {
    position: absolute;
    display: none;
    content: '';
}
/* Show check mark */
.control input:checked ~ .control__indicator:after {
    display: block;
}
/* Checkbox tick */
.control--checkbox .control__indicator:after {
    top: 4px;
    left: 8px;
    width: 3px;
    height: 8px;
    transform: rotate(45deg);
    border: solid #fff;
    border-width: 0 2px 2px 0;
}
/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}
/* Radio button inner circle */
.control--radio .control__indicator:after {
    top: 7px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}
/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
}
span.label-align {
    vertical-align: middle;
}
p.label-align {
    margin-top: 2px;
}
/* input range */
input[type=range] {
    -webkit-appearance: none;
    border: 1px solid white;
}
input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #3498db;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}
input[type=range]::-moz-range-track {
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #3498db;
}
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}
input[type=range]::-ms-track {
    height: 5px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #3498db;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}
/* menus déroulants */
select, input[type=select] {
    -webkit-appearance: none;  /*Removes default chrome and safari style*/
    -moz-appearance: none; /* Removes Default Firefox style*/
    appearance: none;
    background: #e9ecee url(http://hacklol.eliastiksofts.com/images/select-arrow.png) no-repeat 98% center;
    text-indent: 0.01px; /* Removes default arrow from firefox*/
    text-overflow: "";  /*Removes default arrow from firefox*/
    color: #34495e;
    font-family: "Open Sans", Arial, sans-serif;
    padding: 5px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: border 0.3s;
    background-color: #eeeeee;
}
select:focus, select.focus, input[type=select]:focus, input[type=select].focus {
    border-bottom: solid 2px #969696;
    outline: none;
}
/* cases à cocher
checkbox, input[type=checkbox] {
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}
checkbox:active, checkbox:checked:active, input[type=checkbox]:active, input[type=checkbox]:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
checkbox:checked, input[type=checkbox]:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    background-image: url(http://hacklol.eliastiksofts.com/images/check.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 14px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #4b8bf5;
}
checkbox:checked:after, input[type=checkbox]:checked:after {
    content: "";
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #4b8bf5;
}
checkbox[disabled=disabled], input[type=checkbox], input[disabled=disabled] {
    background-color: #fafafa;
    box-shadow: 0;
}
checkbox[disabled=disabled]:active, input[type=checkbox]:active, input[disabled=disabled]:active {
    background-color: #fafafa;
    box-shadow: 0;
}
checkbox[disabled=disabled]:checked:active, input[type=checkbox]:checked:active, input[disabled=disabled]:checked:active {
    background-color: #fafafa;
    box-shadow: 0;
}*/
/* boutons */
.btn {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin-top: 10px;
    margin-right: 10px;
    padding: 14px 26px;
    font-size: 12pt;
    line-height: 100%;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    color: #fff;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.1s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    -ms-transition: background 0.1s ease-in-out;
    -o-transition: background 0.1s ease-in-out;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: "Open Sans", Arial, sans-serif;
    background-color: #3fb8e8;
    box-shadow: 0px 3px 0px 0px #3293ba;
}
.btn:active {
    padding-top: 15px;
    margin-bottom: -1px;
    box-shadow: 0px 1px 0px 0px #3293ba;
}
.btn, .btn:hover, .btn:active {
    outline: 0 none;
    text-decoration: none;
}
.btn:hover {
    background-color: #1baae3;
}
.btn-red {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin-top: 10px;
    margin-right: 10px;
    padding: 14px 26px;
    font-size: 12pt;
    line-height: 100%;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    color: #fff;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.1s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    -ms-transition: background 0.1s ease-in-out;
    -o-transition: background 0.1s ease-in-out;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: "Open Sans", Arial, sans-serif;
    background-color: #ef5350;
    box-shadow: 0px 3px 0px 0px #c62828;
}
.btn-red:active {
    padding-top: 15px;
    margin-bottom: -1px;
    box-shadow: 0px 1px 0px 0px #c62828;
}
.btn-red, .btn-red:hover, .btn-red:active {
    outline: 0 none;
    text-decoration: none;
}
.btn-red:hover {
    background-color: #f44336;
}
.btn-green {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin-top: 10px;
    margin-right: 10px;
    padding: 14px 26px;
    font-size: 12pt;
    line-height: 100%;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    color: #fff;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.1s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    -ms-transition: background 0.1s ease-in-out;
    -o-transition: background 0.1s ease-in-out;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: "Open Sans", Arial, sans-serif;
    background-color: #66bb6a;
    box-shadow: 0px 3px 0px 0px #2e7d32;
}
.btn-green:active {
    padding-top: 15px;
    margin-bottom: -1px;
    box-shadow: 0px 1px 0px 0px #2e7d32;
}
.btn-green, .btn-green:hover, .btn-green:active {
    outline: 0 none;
    text-decoration: none;
}
.btn-green:hover {
    background-color: #4caf50;
}
/* boutons désactivés (grisés) */
.btn_desactived {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin-top: 10px;
    margin-right: 10px;
    padding: 14px 26px;
    font-size: 12pt;
    line-height: 100%;
    color: grey;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: default;
    font-weight: bold;
    transition: background 0.1s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    -ms-transition: background 0.1s ease-in-out;
    -o-transition: background 0.1s ease-in-out;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: "Open Sans", Arial, sans-serif;
    background-color: #e0e0e0;
    color: #858585;
}
.btn_desactived, .btn_desactived:hover, .btn_desactived:active {
    outline: 0 none;
    text-decoration: none;
}
/* style pour les touches des raccourcis clavier */
.keyboard_key {
    display:inline-block;
    min-width:10px;
    height:18px;
    padding:0 4px;
    font-size:11px;
    line-height:18px;
    color:#555;
    text-align:center;
    background-color:#EEE;
    background-repeat:repeat-x;
    background-image:-moz-linear-gradient(top,whiteSmoke 0,#EEE 100%);
    background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,whiteSmoke),color-stop(100%,#EEE));
    background-image:-webkit-linear-gradient(top,whiteSmoke 0,#EEE 100%);
    background-image:-ms-linear-gradient(top,whiteSmoke 0,#EEE 100%);
    background-image:-o-linear-gradient(top,whiteSmoke 0,#EEE 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5',endColorstr='#eeeeee',GradientType=0);
    background-image:linear-gradient(top,whiteSmoke 0,#EEE 100%);
    border:1px solid #CCC;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -webkit-box-shadow:inset 0 1px 0 white,0 1px 0 #CCC;
    -moz-box-shadow:inset 0 1px 0 #fff,0 1px 0 #ccc;
    box-shadow:inset 0 1px 0 white,0 1px 0 #CCC;
    margin-right: 5px;
}
/* styles des fenêtre de chargement & no-script */
#noscript {
    position: relative;
    top: 0;
    font-family: "Open Sans", Arial, sans-serif;
    font-size:12pt;
    margin: auto;
    width:50%;
    overflow:auto;
    border-radius: 30px;
    background-color:white;
    z-index:1215;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.30);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.30);
    padding:15px;
    /* https://www.alsacreations.com/tuto/lire/1032-comment-centrer-verticalement-sur-tous-les-navigateurs.html */
    margin-top: 50vh;
    transform: translateY(-50%);
}
#chargement {
    position: relative;
    top: 0;
    font-family: "Open Sans", Arial, sans-serif;
    font-size:12pt;
    margin: auto;
    width:50%;
    overflow:auto;
    border-radius: 30px;
    background-color:white;
    z-index:1212;
    padding:15px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.30);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.30);
    padding: 15px;
    /* https://www.alsacreations.com/tuto/lire/1032-comment-centrer-verticalement-sur-tous-les-navigateurs.html */
    margin-top: 50vh;
    transform: translateY(-50%);
}
#noscript > h1, #chargement > h1 {
    border-bottom: 1px solid grey;
}
#mask_noscript, #mask_chargement {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color:grey;
    opacity:0.7;
    z-index:1211;
}
/* effets d'explosion + gel + deface */
#mask_explosion {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color: orange;
    opacity:0.6;
    z-index:1205;
}
#explosion_img {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    background-position: center center;
    z-index:1206;
    text-align: center;
    font: 0/0 a; /* Hide the characters like spaces */
}
.centerer {
     display: inline-block;
     vertical-align: middle;
     height: 100%;
}
.vertical-align-bottom {
    vertical-align: bottom !important;
}
#explosion_img_effet {
     display: inline-block;
     vertical-align: middle;
     max-height: 100%;
     max-width: 100%;
}
.explosion_img_display {
    background-image: url(http://hacklol.eliastiksofts.com/images/explosion.gif);
}
.explosion_img_hide {
    background-image: none;
    background: none;
}
#gel_img {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color: #9ac1e6;
    background-image: url(http://hacklol.eliastiksofts.com/images/gel.png);
    background-repeat: repeat;
    opacity:0.7;
    z-index:1029;
}
#deface_div {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index: 1020;
    text-align: center;
    font-family: "Open Sans", Arial, sans-serif;
    overflow: auto;
}
/* iframe + toolbar */
#hacklol-iframe {
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    border:0px;
}
#hacklol-iframeWrapper {
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    border:0px;
}
#toolbar-hacklol {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
    background-color:lightgrey;
    z-index:1200;
    opacity:0.6;
    overflow: hidden;
    height: 64px;
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.30);
    -webkit-box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.30);
}
#toolbar-hacklol:hover {
    opacity: 1;
}
.toolbar-opacity {
    opacity: 1 !important;
}
#img_start_hacklol {
    position: absolute;
    top: 55px;
    left: 35px;
    z-index: 1210;
}
img.img-resize {
    max-width: 100%;
    height: auto;
}
.btn-same-size {
    width: 50%;
    height: auto;
    display: inline-block;
    text-align: center;
}
#toolbox_buttons {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#align-toolbox-buttons {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#page-loading-indicator {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16pt;
    padding: 10px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: auto;
    height; auto;
    border: 2px solid black;
    background-color: white;
    z-index: 1206;
}
/* menus */
.menu, #menuMobile, #lienMenuMobile {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 600;
    font-size: 15pt;
    height: 64px;
    white-space:nowrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-transition: background 500ms linear;
    -moz-transition: background 500ms linear;
    -ms-transition: background 500ms linear;
    -o-transition: background 500ms linear;
    transition: background 500ms linear;
}
.menu .lienMenu, #menuMobile .lienMenu, #lienMenuMobile {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    background-color: inherit;
    border-right: 1px solid grey;
    height: 64px;
    padding-right: 10px;
    padding-left: 10px;
    line-height:64px;
    text-align:center;
    white-space:nowrap;
    overflow:hidden;
    position:relative;
    -webkit-transition: background 500ms linear;
    -moz-transition: background 500ms linear;
    -ms-transition: background 500ms linear;
    -o-transition: background 500ms linear;
    transition: background 500ms linear;
}
#lienMenuMobile {
    display: none; /* on n'affiche pas le lien "Ouvrir le menu" pour les mobiles par défaut */
}
.menu .lienMenu:hover, #menuMobile .lienMenu:hover, #lienMenuMobile:hover, #fermerBarre:hover {
    background-color: #ADADAD;
}
.menu .lienMenu a {
    color: black;
    text-decoration: none;
}
/* bulles menu pour le paint */
.bulleMenu {
    position: relative;
    padding: 15px;
    margin: 1em 0 3em;
    color: #000;
    background: #F2F2F2;
    border-radius: 10px;
    z-index: 1205;
    font-family: "Open Sans", Arial, sans-serif;
}
.bulleMenu:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -15px;
    left: 50px;
    width: 0;
    border-width: 15px 15px 0;
    border-style: solid;
    border-color: #F2F2F2 transparent;
}
#bulleCouleur {
    position: absolute;
    bottom: 15px;
    left: 10px;
}
#bulleCouleur:after {
    position: absolute;
    bottom: -15px;
    left: 50px;
}
#bulleBrush {
    position: absolute;
    bottom: 15px;
    left: 145px;
}
#bulleBrush:after {
    position: absolute;
    bottom: -15px;
    left: 50px;
}
/* classe de l'effet de flou sur l'iframe et la toolbar lors de l'affichage d'une fenêtre */
.blur-desactived {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -ms-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
    /* activation de l'accélération matérielle */
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
}
/* les icones (avec la police de caractère IcoMoon-free)
Pour ajouter une icone, voir ici : https://icomoon.io/app/ */
.icon, .icon:before {
    font-family: 'IcoMoon-Free';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Enable Ligatures ================ */
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
}
.icon_parametres:before {
  content: "\e994";
}
.icon_outils:before {
  content: "\e9ae";
}
.icon_infos:before {
  content: "\ea0c";
}
.icon_fermer:before {
  content: "\ea0f";
}
.icon_quitter:before {
  content: "\ea14";
}
.icon_menu:before {
  content: "\e9bd";
}
.icon_vrai:before {
  content: "\ea10";
}
.icon_recherche:before {
  content: "\e986";
}
.icon_reinit:before {
  content: "\e984";
}
.icon_save:before {
  content: "\e962";
}
.icon_color:before {
  content: "\e90b";
}
.icon_brush:before {
  content: "\e90c";
}
.icon_reset:before {
  content: "\ea2e";
}
.icon_crayon:before {
  content: "\e905";
}
.icon_explode:before {
  content: "\e9a9";
}
.icon_magic:before {
  content: "\e997";
}
.icon_stop:before {
  content: "\ea1e";
}
.icon_page:before {
  content: "\e924";
}
.icon_doc:before {
  content: "\e926";
}
.icon_eclair:before {
  content: "\e9b5";
}
.icon_contrast:before {
  content: "\e9d5";
}
.icon_matrix:before {
  content: "\ea81";
}
.icon_windows:before {
  content: "\eac2";
}
.icon_retour:before {
  content: "\e967";
}
.icon_suivant:before {
  content: "\e968";
}
.icon_poubelle:before {
  content: "\e9AC"
}
.icon_secouer:before {
  content: "\e91d"
}
/* popups */
.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    font-family: "Open Sans", Arial, sans-serif;
    -webkit-box-shadow: 0px 1px 20px #666666;
    -moz-box-shadow: 0px 1px 20px #666666;
    box-shadow: 0px 1px 20px #666666;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.white-popup > h1, h2 {
    border-bottom: 1px solid grey;
}
/* animations des popups */
.mfp-fade.mfp-bg {
    opacity: 0;

    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}
.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;

    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}
/* boutons d'affichage des toolbars si elles sont fermées */
#btn-show-toolbar {
    position:absolute;
    right:5px;
    top:10px;
    z-index:1040;
    opacity:0.6;
}
#btn-show-toolbar:hover {
    position:absolute;
    right:5px;
    top:10px;
    z-index:1040;
    opacity:1;
}
#btn-show-toolbar-paint {
    position:absolute;
    right:5px;
    bottom:10px;
    z-index:1040;
    opacity:0.6;
}
#btn-show-toolbar-paint:hover {
    position:absolute;
    right:5px;
    bottom:10px;
    z-index:1040;
    opacity:1;
}
/* fonction de dessin */
#canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    display:block;
    background:transparent;
    cursor:crosshair;
    z-index:1030;
}
.canvasNormal {
    position: relative;
}
.wrapperNormal{
    width: 900px;
    margin: auto;
}
.canvasFullWindow{
    position: absolute;
    top: 0px;
    left: 0px;
}
#choixCouleur {
    background-image: url(http://hacklol.eliastiksofts.com/images/points.png);
}
#couleurs {
    list-style:none;
    margin:0 0 0px 0;
    margin-left:2px;
}
#couleurs li {
    display:inline-block
}

#couleurs a {
    display:inline-block;
    width:30px;
    height:30px;
    margin-right:10px;
    text-indent:-4000px;
    overflow:hidden;
    border-radius:50%
}
#couleurs a.actif {
    border:2px solid #000;
    width:26px;
    height:26px
}
div#paint-tools {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    display:block;
    width:100%;
    position:absolute;
    bottom:0px;
    left:0px;
    background-color:lightgrey;
    z-index:1200;
    opacity:0.6;
    padding: 0;
    overflow:auto;
    font-family: "Open Sans", Arial, sans-serif;
    height: auto;
    box-shadow: 0px 5px 5px 0px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(119, 119, 119, 0.75);
}
#paint-tools:hover {
    opacity:1;
}
#largeurs_pinceau {
       margin-left:15px;
       text-align: center;
}
input#largeur_pinceau {
       margin:0px;
}
/* inutile actuellement, vu la nouvelle interface, mais est laissé ici */
.btn_paint {
  display:inline-block;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #ffffff;
  font-size: 18px;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  cursor:pointer;
  border:0px;
}
.btn_paint:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
#reset {
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-image: url(http://hacklol.eliastiksofts.com/images/icon_pack/reinit.png);
    background-position: 6px 6px;
    text-indent: 22px;
}
/* color picker */
#colorpicker1, #colorpicker3 {
    margin:0;
    padding:0;
    border:0;
    width:70px;
    height:20px;
    border-right:20px solid green;
    line-height:20px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    transition: none;
}
.colpick_hex {
    margin-top: -235px !important;
}
/* canvas pour la fonction matrix */
canvas#q {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    display:block;
    z-index:1028;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* BSOD */
#genericBSOD {
    background:#0000aa;
    color:#ffffff;
    font-family:courier;
    font-size:12pt;
    text-align:center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1021;
    padding: 100px;
    box-sizing: border-box; /* empêche de dépasser de l'écran */
}
.negBSOD {
    background:#fff;
    color:#0000aa;
    font-weight:bold;
}
span.negBSOD {
    padding:2px 8px;
}
p#BSOD {
    margin:30px 100px;
    text-align:left;
}
p#BSOD.center {
    text-align:center;
}
#win8BSOD {
    background:#55caff;
    color:#ffffff;
    font-family:Segoe UI;
    font-size:12pt;
    text-align:center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1021;
    padding: 5% 15% 5% 15%;
    overflow: auto;
    box-sizing: border-box; /* empêche de dépasser de l'écran */
}
#sadfaceBSOD {
    display: block;
    height:219px;
    padding: 30px 100px 0 0;
    background-image: url('http://hacklol.eliastiksofts.com/images/sadface.png');
    background-repeat: no-repeat;
}
p#win8topblockBSOD {
    font-size: 35px;
    margin-bottom: 0px;
    text-align: left;
    padding: 0 30% 0 0;
}
p#win8errorblockBSOD {
    margin-top: 15px;
    text-align: left;
    padding: 0 30% 0 0;
}
/* effet vague material design - source : http://codepen.io/440design/pen/iEztk */
.ink {
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    -o-transform:scale(0);
    transform:scale(0);
}
.animate {
    -webkit-animation:ripple 0.65s linear;
    -moz-animation:ripple 0.65s linear;
    -ms-animation:ripple 0.65s linear;
    -o-animation:ripple 0.65s linear;
    animation:ripple 0.65s linear;
}
@-webkit-keyframes ripple {
    100% {opacity: 0; -webkit-transform: scale(2.5);}
}
@-moz-keyframes ripple {
    100% {opacity: 0; -moz-transform: scale(2.5);}
}
@-o-keyframes ripple {
    100% {opacity: 0; -o-transform: scale(2.5);}
}
@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}
/* partie pour les mobiles < à 812 px de résolution horizontale  */
@media screen and (max-width: 812px) {
  #lienMenuMobile {
    display: block; /* on réaffiche le lien du menu pour les mobiles */
    border: none;
  }
  #menuToolbarTop, #menuMobile {
    display: none;
  }
  /* menu mobile */
    #menuMobile .lienMenu {
        display: block;
        cursor: pointer;
        vertical-align: middle;
        background-color: white;
        border-right: 1px solid grey;
        height: auto;
        padding-right: 0;
        padding-left: 0;
        line-height:0;
        white-space: none;
        color: black;
    }
    #menuMobile {
        position: absolute;
        top: 64px;
        left:0; right:0; bottom:0;
        z-index: 1200;
        font-weight:bold;
        font-size: 12pt;
        width:100%;
        text-align:center;
        border-top: 1px solid grey;
        margin-top: 0px;
        overflow: auto;
        height: auto;
    }
    #menuMobile ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        list-style-image: none;
    }
    #menuMobile li {
        display: block;
        padding: 15px 0 15px 0;
        border-bottom: grey 1px solid;
    }
    #menuMobile li:hover {
        display: block;
        padding:15px 0 15px 0;
        border-bottom: grey 1px solid;
    }
    #menuMobile ul li a {
        text-decoration:none;
        margin: 0px;
    }
    #menuMobile ul li a:hover {
        color: black;
        text-decoration:none;
    }
    #menuMobile a {
        text-decoration:none;
    }
    #menuMobile a:hover {
        text-decoration:none;
    }
}
/* styles pour les non-mobiles > à 812 px de résolution horizontale */
@media screen and (min-width: 812px) {
    #menuToolbarTop {
        display: inline-block;
    }
    #menuMobile {
        display: none; /* on masque le menu mobile */
    }
    #lienMenuMobile {
        display: none; /* on masque le lien du menu mobile */
    }
}
/* FIN */
